<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/styles.css" />
    <title>Agregar Curso</title>
</head>
<body>
    <div class="sidebar">
        <h1 style="text-align: center;" >Agregar Curso</h1>
        <form action="/agregar-curso" id="formAgregarCurso" method="post">
            <label for="nombreCurso" >Nombre del Curso:</label>
            <input type="text" id="nombreCurso" name="nombreCurso" required>
            <br><br>
            <label for="cantidadGrupos" >Cantidad de Grupos:</label>
            <input type="number" id="cantidadGrupos" name="cantidadGrupos" required>
            <br><br>
            <button type="submit">Añadir</button>
            <hr>
        </form>       

        <label for="formDetallarCurso" >Detallar Curso:</label>
            <form action="/detallar-curso" id="formDetallarCurso" method="post">
                <% for (var i = 0, len = cantidadGrupos; i < len; i++) { %>
                <h2>Grupo <%= i+1 %></h2>
                <label for="dia1_<%= i+1 %>">Dia :</label>
                <select id="dia1_<%= i+1 %>" name="dia1_<%= i+1 %>">
                    <% dias.forEach(function(dia) { %>
                        <option value="<%= dia %>"><%= dia %></option>
                    <% }); %>    
                </select>

                <label for="horasInicio1_<%= i+1 %>">Hora de Inicio:</label>
                <select id="horasInicio1_<%= i+1 %>" name="horasInicio1_<%= i+1 %>">
                    <% horasInicio.forEach(function(hour) { %>
                        <option value="<%= hour %>"><%= hour %></option>
                    <% }); %>    
                </select>
                <label for="horasFin1_<%= i+1 %>" >Hora de Fin:</label>
                <select id="horasFin1_<%= i+1 %>" name="horasFin1_<%= i+1 %>">
                    <% horasFin.forEach(function(hour) { %>
                        <option value="<%= hour %>"><%= hour %></option>
                    <% }); %>
                </select> 
                <br><br>

                <label for="dia2_<%= i+1 %>">Dia:</label>
                <select id="dia2_<%= i+1 %>" name="dia2_<%= i+1 %>">
                    <% dias.forEach(function(dia) { %>
                        <option value="<%= dia %>"><%= dia %></option>
                    <% }); %>    
                </select>

                <label for="horasInicio2_<%= i+1 %>">Hora de Inicio 2:</label>
                <select id="horasInicio2_<%= i+1 %>" name="horasInicio2_<%= i+1 %>">
                    <% horasInicio.forEach(function(hour) { %>
                        <option value="<%= hour %>"><%= hour %></option>
                    <% }); %>
                </select>
                <label for="horasFin2_<%= i+1 %>">Hora de Fin 2:</label>
                <select id="horasFin2_<%= i+1 %>" name="horasFin2_<%= i+1 %>">
                    <% horasFin.forEach(function(hour) { %>
                        <option value="<%= hour %>"><%= hour %></option>
                    <% }); %>    
                </select>
                <br><br>

                <% }; %>

                <button type="submit">Agregar Curso</button>

            </form>
        
        <a href="/cursos">Ver Curso Agregado</a>

        <div id="cursos-container">
            <h2>Cursos Agregados</h2>
            <ul>
                <% cursos.forEach(curso => { %>
                    <li><strong>Nombre del Curso:</strong> <%= curso.nombreCurso %></li>
                    <li><strong>Cantidad:</strong> <%= curso.cantidadGrupos %></li>
                    <hr>
                <% });                 
                %>
            </ul>        
        </div>
    </div>
    <div class="main-content">
        <h1>Main Content Section</h1>
        <p>Welcome to the main content of the page. Here you can place your main content, articles, images, etc.</p>
        <button action="/mirarHorario" id="mirarHorario" method="post" value="1">Mirar horario</a>
        <button action="/mirarHorario" id="mirarHorario" method="post" value="2">Mirar horario</a>
        <div id="horarios_container"> 
            <%imprimirHorarios();%>
        </div>
        
</body>
</html>
